@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    margin: 100px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
body{
    background: #fafafa;
}
@media screen and (min-width:1200px){
    .container{
        max-width: 1320px !important;
        margin: 0 auto;
    }
}
@media screen and (min-width:920px){
    .container{
        max-width: 100%;
        padding: 0 20px;
    }
}
@media screen and (min-width:768px){
    .container{
        max-width: 100%;
        padding: 0 20px;
    }
}
@media screen and (min-width:576px){
    .container{
        max-width: 100%;
        padding: 0 20px;
    }
}
@media screen and (min-width:320px){
    .container{
        max-width: 100%;
        padding: 0 20px;
    }
}